@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
/* 
:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	font-family: "Comfortaa", sans-serif !important;
	/* color: var(--foreground);
	background: var(--background); */
}
